@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=Kalam:wght@300&family=Lora&display=swap');


$font-stack: 'Lora', serif;
$logo-font: 'Amatic SC', cursive;

$light-color: #F0F6F6;
$dark-color: #253237;


$primary-color: #BBE6E4;
$primary-color2: #ffc8dd;
$secondary-color: #5C6B73;
$secondary-color2: #AEC3B0;
$accent-color: #b7094c;
$accent-color2: #42BFDD;

$success-color: #2EE59D;
$error-color: red;

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thinckness: 1px;
$base-border-radius: 20px;
